<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    
<div class="h-screen pt-20 grid place-items-start">
    <div class="w-6/12 mx-auto border rounded">
    <div class="p-10 bg-white shadow-sm">
        <h3 class="text-lg font-medium text-gray-800">Frequently Asked Questions</h3>
        <p class="my-3 text-sm font-light text-gray-600">
        </p>

        <div class="w-full h-1 mx-auto my-5 border-b"></div>

        <!-- What is term -->
        <div class="transition hover:bg-indigo-50">
        <!-- header -->
        <div class="flex items-center h-16 px-5 cursor-pointer accordion-header transition space-x-5">
            <i class="fas fa-plus"></i>
            <h3>What can I create with AdCopyAI?</h3>
        </div>
        <!-- Content -->
        <div class="px-5 pt-0 overflow-hidden accordion-content max-h-0">
            <p class="font-light text-justify leading-6 pl-9">
            We have copywriting tools for everything you need to start and run your business!

You can write blog posts, product descriptions, and even Instagram captions with AdCopyAI. We're always updating our tools, so let us know what else you'd like to see!
            </p>
        </div>
        </div>

        <!-- When to use Accordion Components -->
        <div class="transition hover:bg-indigo-50">
        <!-- header -->
        <div class="flex items-center h-16 px-5 cursor-pointer accordion-header transition space-x-5">
            <i class="fas fa-plus"></i>
            <h3>How much does it cost?</h3>
        </div>
        <!-- Content -->
        <div class="px-5 pt-0 overflow-hidden accordion-content max-h-0">
            <p class="font-light text-justify leading-6 pl-9">
            Our copywriting tools are free!

That's right, you can create content with our free tools.

However, if you want to create unlimited content, you will need to upgrade to one of our paid plans. 
            </p>
            <%= button_to "Learn More", pricing_path, :id => "pricing-btn", :class => "px-6 py-2 my-5 font-medium text-white rounded-full bg-mygreen font-lg ml-9", :method => :get %>
        </div>
        </div>
   </div>
    </div>
</div>

<style>
    .accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    }
</style>

<script>
    const accordionHeader = document.querySelectorAll(".accordion-header");
    accordionHeader.forEach((header) => {
    header.addEventListener("click", function () {
        const accordionContent = header.parentElement.querySelector(".accordion-content");
        let accordionMaxHeight = accordionContent.style.maxHeight;

        // Condition handling
        if (accordionMaxHeight == "0px" || accordionMaxHeight.length == 0) {
        accordionContent.style.maxHeight = `${accordionContent.scrollHeight + 32}px`;
        header.querySelector(".fas").classList.remove("fa-plus");
        header.querySelector(".fas").classList.add("fa-minus");
        header.parentElement.classList.add("bg-indigo-50");
        } else {
        accordionContent.style.maxHeight = `0px`;
        header.querySelector(".fas").classList.add("fa-plus");
        header.querySelector(".fas").classList.remove("fa-minus");
        header.parentElement.classList.remove("bg-indigo-50");
        }
    });
    });
</script>
