<div class="flex justify-center h-screen max-h-20">
  <p class="text-4xl font-bold pt-9">Write Better Copy with AI.</p>
</div>

<div class="flex justify-center h-screen max-h-20">
  <p class="px-8 pt-6 text-2xl">
    End your writing frustrations. Write better copy for ads, social media, or
    any content marketing material with the power of Artificial Intelligence.
    Our automated tools make it easy.
  </p>
</div>

<div class="w-full mx-auto mt-20 text-center md:w-10/12">
  <div class="relative z-0 w-full mt-8">
    <div class="relative overflow-hidden shadow-2xl">
      </div>
      <%= image_tag "online_ad" %>
    </div>
  </div>
</div>
