<!-- component -->
<div class="items-center min-h-screen">
        <div class="">
            <div class="font-semibold text-center">
                <h1 class="text-5xl">
                    <span class="tracking-wide text-mygreen">Flexible </span>
                    <span>Plans</span>
                </h1>
                <p class="w-full px-8 pt-6 text-xl font-normal text-gray-400 md:w-full">
                    Choose a plan that works best for you and<br/> your team.
                </p>
            </div>
            <!-- cards -->
            <div class="flex-wrap items-center justify-center my-16 sm:flex gap-8">
                <!-- Basic -->
                <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4">
                    <div class="px-6 py-8 sm:p-10 sm:pb-6">
                        <div class="flex justify-center">
                            <span class="inline-flex px-4 py-1 text-sm font-semibold tracking-wide uppercase rounded-full leading-5">
                                Free
                            </span>
                        </div>
                        <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none">
                            $0
                            <span class="pt-8 ml-1 text-2xl font-medium text-gray-500 leading-8">
                                /month
                            </span>
                        </div>
                    </div>
                    <p class="mt-4 text-md">
                        Plan includes :
                    </p>
                    <ul class="w-full mt-6 mb-6 text-sm">
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            10 credits per month
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All supported languages
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All copywriting tools
                        </li>
                       </ul>
                    <button type="button" class="w-full px-3 py-3 text-sm bg-white rounded-lg shadow text-mygreen hover:text-white hover:bg-mygreen-hover transition-colors duration-700 transform">
                        Continue
                    </button>
                </div>

                <!-- Popular -->

                <div class="w-full px-4 py-4 mt-6 text-white rounded-lg shadow-lg bg-mygreen sm:w-1/2 md:w-1/2 lg:w-1/4">
                    <div class="px-6 py-8 sm:p-10 sm:pb-6">
                        <div class="flex justify-center">
                            <span class="inline-flex px-4 py-1 text-sm font-semibold tracking-wide uppercase rounded-full leading-5">
                                Popular
                            </span>
                        </div>
                        <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none">
                            $19
                            <span class="pt-8 ml-1 text-2xl font-medium text-gray-100 leading-8">
                                /month
                            </span>
                        </div>
                    </div>
                    <p class="mt-4 text-md">
                        Plan includes :
                    </p>
                    <ul class="w-full mt-6 mb-6 text-sm">
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="currentColor" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            50 credits per month
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="currentColor" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All supported languages
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="currentColor" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All copywriting tools
                        </li>
                       </ul>
                    <button type="button" class="w-full px-3 py-3 text-sm text-white rounded-lg shadow bg-mygreen hover:bg-mygreen-hover transition-colors duration-700 transform">
                        Continue
                    </button>
                </div>

                <!-- premium -->
                <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4">
                    <div class="px-6 py-8 sm:p-10 sm:pb-6">
                        <div class="flex justify-center">
                            <span class="inline-flex px-4 py-1 text-sm font-semibold tracking-wide uppercase rounded-full leading-5">
                                Premium
                            </span>
                        </div>
                        <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none">
                            $49
                            <span class="pt-8 ml-1 text-2xl font-medium text-gray-500 leading-8">
                                /month
                            </span>
                        </div>
                    </div>
                    <p class="mt-4 text-md">
                        Plan include :
                    </p>
                    <ul class="w-full mt-6 mb-6 text-sm">
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            Unlimited credits
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All supported languages
                        </li>
                        <li class="flex items-center mb-3 ">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="black" viewBox="0 0 1792 1792">
                                <path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            All copywriting tools
                        </li>
                       </ul>
                    <button type="button" class="w-full px-3 py-3 text-sm bg-white rounded-lg shadow text-mygreen hover:text-white hover:bg-mygreen-hover transition-colors duration-700 transform">
                        Continue
                    </button>
                </div>
            </div>
        </div>
</div>
